<% content_for :title, "Edit Recipe" %>

<h3>Edit Recipe</h3>

<%= form_for @recipe, url: url_for(:controller => :recipes, :action => :update), html: { class: "edit-recipe-form mde-enabled" } do |f| %>
  <% if @recipe.errors.any? %>
    <div class="alert alert-danger">
      <p>The following errors prevented your recipe from being saved:</p>
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Title your recipe" %><br />
    <%= f.text_field :title, class: "form-control", placeholder: "Appetising Apple Pie" %>
  </div>

  <br />

  <div class="field">
    <%= f.label :description, "A short description of the recipe" %><br />
    <%= f.text_area :description, { rows: 5, class: "form-control", placeholder: "The most eyewateringly tasty apple pie you'll ever make!" } %>
  </div>

  <br/>

  <div class="field">
    <%= f.label :ingredients, "What ingredients do you need?" %><br />
    <%= f.text_area :ingredients, { rows: 7, class: "form-control mde-field", placeholder: "click here and type..." } %>
  </div>

  <br />

  <div class="field">
    <%= f.label :method, "How do you make it?" %><br />
    <%= f.text_area :method, { rows: 15, class: "form-control mde-field", placeholder: "click here and type..." } %>
  </div>

  <br />

  <div class="field" style="width: 250px;">
    <label for="time">How long does it take? <em>(HH:MM)</em></label><br />
    <div class="input-group">
      <% hours = @recipe.time / 3600 %>
      <% minutes = (@recipe.time / 60) - (hours * 60) %>
      <input type="number" class="form-control hours-input" placeholder="HH" value="<%= hours %>" />
      <span class="input-group-addon">:</span>
      <input type="number" class="form-control minutes-input" placeholder="MM" value="<%= minutes %>" />
    </div>
  </div>

  <br />

  <div class="field" style="width: 100px;">
    <%= f.label :serves, "How many people does it serve?" %><br />
    <%= f.number_field :serves, :class => "form-control" %>
  </div>

  <br />

  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category, options_for_select(Category.all.limit(100).map{|c| [c.name, c.id, { 'data-description' => c.description }]}),
        { :include_blank => true }, { :class => "form-control category-select" } %>
    <p class="text-muted category-desc"></p>
  </div>

  <br />

  <div class="field">
    <%= f.label :access_level %><br />
    <div class="alert alert-info">
      <span class="glyphicon glyphicon-info-sign"></span> Access level governs who can see your recipe. Select an access level to see a description.
    </div>
    <%= f.select :access_level, options_for_select(AccessLevel.all.map{|al| [al.name, al.id, { 'data-description' => al.description }]},
          [@recipe.access_level.name, @recipe.access_level.id, { 'data-description' => @recipe.access_level.description }]),
          { include_blank: true }, { class: "form-control access-select" } %>
    <p class="text-muted access-desc"><%= @recipe.access_level.description %></p>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>

  <div class="field">
    <%= f.hidden_field :time, class: "calc-time" %>
  </div>
<% end %>
