<% content_for :title, @recipe.title  %>

<h3><%= @recipe.title %></h3>
<div class="recipe-details">
  <div class="recipe-description">
    <%= @recipe.description %>
  </div>
  <span class="detail-unit text-muted">
    <span class="glyphicon glyphicon-user"></span> <%= @recipe.user.username %>
  </span>
  <span class="detail-unit text-muted">
    <%= link_to url_for(:controller => :favorites, :action => :toggle_favorite, :id => @recipe.id), :method => :post, :remote => true, :class => 'favorite-toggle' do %>
      <span class="glyphicon glyphicon-heart-empty favorite-icon"></span>
      <span class="favorite-count"><%= @recipe.favorites.count %></span> <%= pluralize(@recipe.favorites.count, "favourite") %>
    <% end %>
  </span>
  <span class="detail-unit text-muted">
    <% hours = @recipe.time / 3600 %>
    <% minutes = (@recipe.time / 60) - (hours * 60) %>
    <span class="glyphicon glyphicon-time"></span> <%= hours %>h <%= minutes %>m
  </span>
  <% if user_signed_in? && (@recipe.user == current_user || current_user.is_admin) %>
    <span class="detail-unit">
      <span class="glyphicon glyphicon-pencil theme-glyphicon"></span>
      <%= link_to "Edit", url_for(:controller => :recipes, :action => :edit, :id => @recipe.id) %>
    </span>
    <span class="detail-unit">
      <span class="glyphicon glyphicon-trash theme-glyphicon"></span>
      <%= link_to "Delete", url_for(:controller => :recipes, :action => :destroy, :id => @recipe.id),
          :method => :delete, :data => { :confirm => "Are you sure? This action is not reversible." } %>
    </span>
  <% end %>
</div>

<hr />

<h4>Ingredients</h4>
<%= raw(sanitize(RecipesController.renderer.render(@recipe.ingredients), scrubber: MarkdownScrubber.new)) %>

<h4>Method</h4>
<%= raw(sanitize(RecipesController.renderer.render(@recipe.method), scrubber: MarkdownScrubber.new)) %>
