<% content_for :title, @user.username %>

<h3><%= @user.username %></h3>
<div class="user-stats">
  <span class="stat-detail">
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= pluralize(@user.recipes.count, "recipe") %>
  </span>
  <span class="stat-detail">
    <span class="glyphicon glyphicon-heart-empty"></span>
    <%= pluralize(@user.favorites.count, "favourite") %>
  </span>
  <span class="stat-detail">
    <span class="glyphicon glyphicon-pencil"></span>
    <%= pluralize(@user.comments.count, "comment") %>
  </span>
</div>

<hr />

<h4>Public Recipes</h4>
<% @user.public_recipes.limit(5).each do |r| %>
  <%= render 'recipes/minified', :recipe => r %>
<% end %>
<div class="clearfix">
  <span class="pull-right">
    <%= link_to "All Public recipes »", url_for(:controller => :users, :action => :recipes, :id => @user.id, :type => 'public') %>
  </span>
</div>

<h4>Internal Recipes</h4>
<% @user.internal_recipes.limit(5).each do |r| %>
  <%= render 'recipes/minified', :recipe => r %>
<% end %>
<div class="clearfix">
  <span class="pull-right">
    <%= link_to "All Internal recipes »", url_for(:controller => :users, :action => :recipes, :id => @user.id, :type => 'internal') %>
  </span>
</div>
