<% content_for :title, @category.name %>

<h3><%= @category.name %></h3>
<p><%= @category.description %></p>
<p><span class="glyphicon glyphicon-list-alt"></span> <%= pluralize(@category.recipes.count, "recipe") %></p>

<hr />

<% @recipes.each do |r| %>
  <%= render 'recipes/minified', :recipe => r %>
<% end %>

<div class="text-center">
  <%= will_paginate @recipes, :renderer => BootstrapPagination::Rails %>
</div>
