<!DOCTYPE html>
<html>
<head>
  <title>The Student Chef | <%= yield(:title) %></title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://code.jquery.com/jquery-2.2.2.min.js" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="header-content center-block">
      <div class="toplevel-controls clearfix">
        <div class="pull-left site-logo">
          <a href="/"><%= image_tag 'logo.png', :height => 80 %></a>
        </div>
        <div class="pull-right header-controls">
          <% unless user_signed_in? %>
            <span class="session-link">
              <span class="glyphicon glyphicon-user theme-glyphicon" aria-hidden="true"></span>
              <%= link_to "Sign In", new_user_session_path %>
            </span>
            <span class="session-link">
              <span class="glyphicon glyphicon-plus theme-glyphicon" aria-hidden="true"></span>
              <%= link_to "Register", new_user_registration_path %>
            </span>
          <% else %>
            <span class="session-link">
              <span class="glyphicon glyphicon-user theme-glyphicon" aria-hidden="true"></span>
              <%= current_user.username %>
            </span>
            <span class="session-link">
              <span class="glyphicon glyphicon-off theme-glyphicon" aria-hidden="true"></span>
              <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="nav">
      <div class="nav-content center-block">
        <span class="nav-link">
          <span class="glyphicon glyphicon-list"></span>
          <%= link_to "Public Recipes", url_for(:controller => '/recipes', :action => :public_list) %>
        </span>
        <% if user_signed_in? %>
          <span class="nav-link">
            <span class="glyphicon glyphicon-list"></span>
            <%= link_to "Internal Recipes", url_for(:controller => '/recipes', :action => :internal_list) %>
          </span>
          <span class="nav-link">
            <span class="glyphicon glyphicon-list"></span>
            <%= link_to "My Recipes", url_for(:controller => '/recipes', :action => :my_list) %>
          </span>
          <span class="nav-link">
            <span class="glyphicon glyphicon-plus"></span>
            <%= link_to "New Recipe", url_for(:controller => '/recipes', :action => :new) %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="content center-block">
    <% if flash[:notice].present? %>
      <div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign"></span> <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert].present? %>
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> <%= flash[:alert] %>
      </div>
    <% end %>
    <div class="content-page">
      <%= yield %>
    </div>
  </div>
  <div class="footer">
    <div class="footer-content center-block">

    </div>
  </div>
</body>
</html>
