<!DOCTYPE html>
<html>
<head>
  <title>The Student Chef | <%= yield(:title) %></title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://code.jquery.com/jquery-2.2.2.min.js" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="header-content center-block">
      <div class="toplevel-controls clearfix">
        <div class="pull-left site-logo">
          <%= image_tag 'logo.png', :height => 80 %>
        </div>
        <div class="pull-right">
          <% unless user_signed_in? %>
            <span class="session-link">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <%= link_to "Sign In", new_user_session_path %>
            </span>
            <span class="session-link">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <% link_to "Register", new_user_registration_path %>
            </span>
          <% else %>
            <span class="session-link">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <%= current_user.username %>
            </span>
            <span class="session-link">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              <% link_to "Sign Out", destroy_user_session_path, :method => :delete %>
            </span>
          <% end %>
          <!-- TODO: Search bar -->
          <!-- TODO: CTA Start Your Recipe Book -->
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="account">

        </div>
      <% end %>
    </div>
  </div>
  <div class="content center-block">

  </div>
  <div class="footer">
    <div class="footer-content center-block">

    </div>
  </div>
</body>
</html>
